.profile-main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

.profile-form{
    margin: 3em 0 6em;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.input-container-profile{
    width: 100%;
    margin: 0;
}

.coordinates-container{
    display: flex;
    width: 100%;
    gap: .5rem;
}

.personal-info-title{
    width: 100%;
    text-align: left;
}

.preferences-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    margin-bottom: 2em;
}

.criteria-form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.35s ease, opacity 0.3s ease;
}

.criteria-form.active {
    max-height: 10000px;
    opacity: 1;
}

.preferences-container {
    margin-top: 2em;
}

.ing-form{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.35 ease, opacity 0.3s ease;
}
.ing-form-active{
    max-height: 10000px;
}

.save-profile-button{
    height: 2.5rem;
    border: none;
    background-color: rgb(255, 86, 86);
    color: white;
    padding: .5em;
    border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}