.resumen-data-container{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.resumen-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.metodo-pago {
  margin-top: 1em;
}

.metodo-pago p {
  color: #333;
  font-weight: 600;
}



.resumen-row p {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #5f4545b4;
    margin: 0;
}

.metodo-select {
    padding: 0.4em;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}