.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	padding: 2rem;
	height: clamp(320px, 45vh, 60vh);
	width: clamp(350px, 45vw, 40vw);
	background-color: var(--color-secundario);
}

.main-card {
	display: flex;
	flex-direction: column;
	height: auto;
	border-radius: 15px;
	padding: 0;
	overflow: hidden;
	border: 1px solid var(--color-sombra);
	width: clamp(340px, 75vw, 75vw);
}

.card-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.card-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	gap: 1rem;
}

.card-header-top {
  display: flex;
  flex-direction: row;    
  align-items: center;
  justify-content: center;
  gap: 0.25rem;           
  width: 100%;            
}
.main-card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: clamp(320px, 75vw, 75vw);
	padding: 0.5em;
	margin: 1rem;
}

.card-page-logo {
	filter: brightness(100%);
	height: 30px;
	background-color: var(--color-primario);
	border-radius: 50%;
	padding: 4px;
}

.main-card-title-auth {
	font-weight: bold;
	font-size: 1.8rem;
}

.card-title-login {
	margin: 0 10px 0px 10px;
	text-wrap-mode: nowrap;
}

.card-subtitle-auth {
	font-size: 1rem;
	font-weight: 500;
	color: var(--color-sombra);
}

.card-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.8rem;
	border: none;
	border-radius: 20px;
	background: var(--color-primario);
	color: var(--color-secundario);
	font-weight: bold;
	cursor: pointer;
	margin-top: 0.8rem;
	height: 35px;
	width: clamp(270px, 21vw, 410px);
}

.card-btn:hover {
	background-color: var(--color-primario-sombra);
}

.card-message {
	color: var(--color-sombra);
	margin-top: 20px;
	font-size: 0.7rem;
}

.card-message a,
.card-message a:hover,
.card-message a:visited,
.card-message a:active,
.card-message a:focus {
	color: var(--color-primario);
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
}

.card-alert-container {
	width: clamp(260px, 20vw, 400px);
	display: flex;
	justify-content: flex-start;
	margin: 3px 5px;
}

.card-message.alert {
	margin-top: 0px;
	color: var(--color-primario);
	font-size: 0.7rem;
	margin-left: 25px;
}

.card.register {
	height: clamp(400px, 50vh, 60vh);
	width: clamp(350px, 40vw, 60vw);
}

.card.auth {
	height: clamp(400px, 50vh, 60vh);
	width: clamp(350px, 40vw, 60vw);
}

.card-menu {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	align-items: right;
	flex-direction: row;
	width: 100%;
	padding: 1em;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
	font-size: 0.9em;
}

.card-menu-left {
	display: flex; /* imagen + texto en fila */
	flex-direction: row; /*  fila: imagen a la izq, texto a la der */
	align-items: flex-start; /* alinea arriba */
	gap: 1em; /* espacio entre imagen y texto */
}

.card-menu-left img {
	width: 60px; /* ancho fijo */
	height: 60px; /* alto fijo */
	border-radius: 8px; /* bordes redondeados */
	object-fit: cover; /* recorta la imagen sin deformarla */
	flex-shrink: 0;
}

.card-menu-precio {
	margin-left: auto;
	padding: 0.2em;
	font-size: 1rem;
}

.card-text {
	display: flex;
	align-items: flex-start; /* alinea arriba */
	flex-direction: column; /* título arriba, subtítulo debajo */
	padding-top: 0.5em;
	text-align: left; /* o start */
	font-size: 1rem;
}
.text-sub {
	text-align: left; /* o start */
	color: var(--user-name-brown);
}

.card-inputs {
	margin: 3em;
	width: clamp(320px, 75vw, 75vw);
	height: clamp(350px, 30vh, 40vh);
}

a.no-underline {
	text-decoration: none;
}

@media (min-width: 431px) AND (max-width: 1200px) {
	/* .card.register,
	.card.login {
		height: clamp(500px, 70vh, 70vh);
		width: clamp(500px, 65vw, 65vw);
	} */
}

@media (max-width: 430px) {
	.card-inputs {
		margin: 1em;
		height: clamp(350px, 30vh, 100vh);
		width: clamp(340px, 50vw, 100vw);
	}
	.main-card-header {
		flex-direction: column;
		align-items: start;
		gap: 1em;
	}
	.text-sub {
		text-align: left; /* o start */
		color: var(--user-name-brown);
		
	}
}

@media (max-width: 350px) {
	.card.auth{
		width: 90vw;
	}
}

