@import url("global.css");

.guardar-cambios-section {
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  max-width: 1092px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border-color: var(--color-primario);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;     
  justify-content: flex-end; 
  gap: 1rem;
  font-size: 0.9em;
  align-self: stretch;               
}

@media (max-width: 430px) {
  .guardar-cambios-section {
    margin: 0rem auto 3.5rem;
    justify-content: center; 
  } 
}
