/* body {
  padding-bottom: 3rem; // te lo dejo por que de App.css no funciono 
}
*/

.detalle-pedido-container {
  padding-top: 3em;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: var(--color-terciario-pedidos);
  padding-bottom: 3rem;
}

.page-content-wrapper {
  padding: 2em;
}

.pedido-title-button-pedido {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pedido-title-button-pedido h2 {
  text-align: center;
  width: 100%;
  font-size: 1.5em;
}

.restaurant-container {
  margin: 1em 0;
}

.pedido-container {
  margin-bottom: 2em;
  width: 100%;
}

.detalle-divider {
  width: 100%;
  border: 0.5px solid black;
  margin: 1em 0;
}

.page-content-body,
.detalle-pedido-container,
.pedido-container,
.articles-container,
.resumen-container {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}
