.ingredient-container{
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ing-name{
    font-size: 1.1em;
    font-weight: 600;
}
