.profile-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-img{
    height: 7.5em;
    width: 7.5em;
}
.profile-name{
    font-weight: 800;
    font-size: 1.2em;
}