.plato-modal-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  position: fixed;
  background-color: var(--color-primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100vw;
  height: 70vh;
  max-height: 600px;
  background-color: var(--color-primary);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  gap: 10px;
}

.plato-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 25vh;
}

.modal-footer-buttons {
  display: flex;
  justify-content: space-between;
}

.button-group-contador {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.modal-count {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-dark);
}

.modal-cost-group {
  display: flex;
  justify-content: space-between;
}

.modal-text {
  font-size: 0.9rem;
  font-weight: 300;
}

.modal-title {
  font-size: 1.2rem;
  font-weight: 600;
}
